
<div class="reveal">
    <div class="slides">
        <section class="title-page">
            <h1>Geekspeak for Humans</h1>
            <h4 class="subtitle">Translating Technobabble to Human Language</h4>
            <p class="author">
                Aaron Greenwald
            </p>
            <div class="template-instance links"></div>
        </section>

        <section data-state="chapter-title">
            Computers & Code
        </section>
        <section class="scatter">
            <aside class="notes" data-markdown>
                * What’s a computer? Something that computes…duh. Some history, and where computers can be found today.

                * What they have in common? Algorithms. Scary word, right?
                * What’s an algorithm? Instructions. How to cook an egg.
                    * So that’s how programmers need to think. With precision, which leads to one common kind of bugs.
                * How do we teach modern computers algorithms? With code.
                * What does code look like?
                    * Well, once upon a time like this, then it evolved to this, then to this, then to modern languages.
                * Compilers and interpreters
                * How many languages does a developer know?

                * Interacting with the system: SDKs, Libraries, Code reuse, third party code, open source
                * CLI, GUI, we’ll learn about more interfaces later.
                * Anyway...
                    * All software has bugs
                    * Good code, bad code
                        * Tabs v Spaces
                * Markup, Formats

            </aside>

            <div class="">Computers</div>
            <div class="">Algorithm</div>
            <div class="">Code</div>
            <div class="">Languages</div>
            <div class="">Frameworks</div>
            <div class="">Libraries</div>
            <div class="">IDE</div>
            <div class="">Compiler</div>
            <div class="">Interpreter</div>
            <div class="">CLI</div>
            <div class="">GUI</div>
            <div class="">SDK</div>
            <div class="">Formats</div>
            <div class="">Markup</div>
            <div class="">Bugs</div>
        </section>
        <section data-state="chapter-title">
            The Web
        </section>
        <section class="scatter">
            <aside class="notes" data-markdown>
                * The Web
                * Once upon a time, people had an idea
                * For communication, they needed protocols
                    * Hollywood protocols
                * HTTP, FTP
                * Clients, Servers
                * Websites
                * Javascript
                * Dynamic websites, apps
                * AJAX, API, XML, JSON, SPAs
                * HTTPS, SSL, VPN
                * Cookies
            </aside>
            <div class="">Protocols</div>
            <div class="">Network</div>
            <div class="">Internet</div>
            <div class="">WWW</div>
            <div class="">Servers</div>
            <div class="">Clients</div>
            <div class="">Static Websites</div>
            <div class="">Dynamic Websites</div>
            <div class="">Web Apps</div>
            <div class="">AJAX</div>
            <div class="">JSON</div>
            <div class="">API</div>
            <div class="">XML</div>
            <div class="">SPAs</div>
            <div class="">SDK</div>
            <div class="">SSL</div>
            <div class="">HTTPS</div>
            <div class="">HTTP</div>
            <div class="">HTML</div>
            <div class="">CSS</div>
            <div class="">VPN</div>
            <div class="">FTP</div>
            <div class="">Cookies</div>
            <div class="">Bots</div>
        </section>
        <section data-state="chapter-title">
            Updates & Upgrades
        </section>
        <section class="scatter">
            <div class="">Feature Toggles</div>
            <div class="">RC</div>
            <div class="">GA</div>
            <div class="">Hotfix</div>
            <div class="">Devops</div>
            <div class="">SDLC</div>
            <div class="">Agile</div>
            <div class="">Waterfall</div>
            <div class="">Builds</div>
            <div class="">Testing</div>
        </section>
        <!--<section data-state="chapter-title">-->
            <!--Animosity-->
        <!--</section>-->
        <!--<section>-->
            <!--<i>(why we hate you)</i>-->
        <!--</section>-->
        <section>
            <div>Thank You</div>
            <div class="template-instance links" />
        </section>
    </div>
</div>

