<div class="reveal">
  <div class="slides">
    <section class="title-page">
      <h1 style="font-size:1.3em;">Android App Development</h1>
      <h4 class="subtitle">Connecting to a Server API</h4>
      <p class="author">
        Aaron Greenwald
      </p>
      <div class="template-instance links"></div>

      <aside class="notes" data-markdown>
        These slides accompany the Startech course session focused on connecting an android app
        to a server and loading data.
      </aside>
    </section>
    <section data-state="chapter-title">
      Introduction
    </section>
    <section data-state="chapter-title">
      Session Outline
    </section>
    <section>
      <div class="fragment fade-past">Servers & Clients</div>
      <div class="fragment fade-past">Exploring APIs</div>
      <div class="fragment fade-past">Hands On Coding</div>
      <div class="fragment fade-past">Optimizations</div>
      <div class="fragment fade-past">More Coding</div>
    </section>

    <section data-state="chapter-title">
      Servers & Clients
    </section>
    <section>
      Web Protocols
    </section>
    <section>
      <div class="list-header fragment">APIs</div>

      <div class="fragment fade-past">REST</div>
      <div class="fragment fade-past">Other API Types</div>
      <div class="fragment fade-past">JSON vs XML</div>
    </section>

    <section>
      <div class="list-header fragment">
        <div>Discovering & Debugging APIs</div>
      </div>
      <div class="fragment fade-past">
        Postman
      </div>
      <div class="fragment fade-past">
        Charles
      </div>
    </section>
    <section>
      Authentication
    </section>
    <section data-state="chapter-title">
      Let's Work!!
    </section>
    <section>
      github.com/<span style="color: olivedrab">aarongreenwald</span>/<span style="color: #7e2216">startech-course</span>
    </section>
    <section data-state="chapter-title">
      Optimizations
    </section>
    <section>
      <div class="fragment">Pagination</div>
      <div class="fragment">View Recycling</div>
      <div class="fragment">Image Caching</div>
    </section>
    <section>
      Thank You
      <div class="template-instance links"></div>
    </section>
  </div>
</div>


