<div class="reveal">
  <div class="slides">
    <section class="title-page">
      <h1 class="title">Connecting from Client to Server: Android App Development</h1>
      <p class="author">
        Aaron Greenwald
      </p>
      <div class="template-instance links"></div>

      <aside class="notes" data-markdown>
        These slides accompany the Startech course session focused on connecting an android app
        to a server and loading data.
      </aside>

    </section>


  </div>
</div>


