body {
	background-color: #white;
}	
a { cursor: pointer;}

.navbar {
	background-color:#eeeeee;
	}

.navbar > a {
	color:black;	
	margin-right:2px;
	}
	
.navbar > a:hover,
.navbar > a.active{
	color:white;
	background-color:#333333;
	}
div.side-padding{
	padding-left:30px;
	padding-right:30px;
}
