body {
    background-color: #fff;
}   
a { cursor: pointer;}

.navbar {
    background-color:#eeeeee;
    min-height:40px;    
    height:40px;
}

.navbar > a {
    float: left;
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
    height:100%;
    margin-left:2px;
    border-radius:3px;
    color:black;
}
    
.navbar > a:hover{
    text-decoration:none;
    color:white;
    background-color:#555 !important;     
}
.navbar > a.active{
    color:white;
    background-color:#333  !important;    
}
div.side-padding{
    padding-left:30px;
    padding-right:30px;
}
@media only screen and (min-width : 768px) {
    #content {
        margin-left:20vw;
        max-width:60vw;
    }
}
#content {
    padding:8px;
}
.hide {
    display:none;
}

/************************Blog****************************/

.blog-title {
    font-size:3em;
}

.blog-title a,
.blog-title a:hover {
    color:black;
    text-decoration:none;
}

.blog-tagline {
    font-style:italic;
    font-size:10pt;
}

.sidebar{
    display: inline-block;
    margin-top: 20px;
}

@media only screen and (min-width:900px){
    .sidebar{
        float:right;
        width:200px;
    }

    .content {
        float:left;
        width:calc(100% - 200px);
        padding-right:100px;
    }
}

.content .post {
    margin-top:30px;
}

.content .post .post-title {
    font-size:2em;
    margin-bottom:10px;
    float:left;
    margin-right:10px;
}

.content .post .post-date {
    float:right;
    font-size: 1.2em;
    margin-top:5px;
    margin-bottom:5px;
}

.content .post .post-content {
    display:inline-block;
    line-height: 1.6em;
    font-size: 1.2em;
}

hr {
    border-color: #aaa
}

.content .tag-notice {
    margin-top:10px;
    border:1px solid #ddd;
    padding:15px;
    background-color:#eee;
    border-radius:5px;
}

.content .tag-notice .tag {
    font-style:italic;
    font-size:12pt;
}

.tags {
    float:right;
}

.tags a {
    color:#666;
    font-style:italic;
    text-decoration:underline;
    margin-left:5px;
}

pre {
    margin: 30px 0;
}

.sidebar .about {
    font-style:italic;
}

.sidebar .recent-posts {
    margin-top:20px;
}

/*Home Page */
ul.tldr > li {
    font-size: 1.5em;
}

.icon-list-container {
    padding:10px 20px;
    font-size: 1.2em;
}

.icon-list {
    text-align:center;
    margin-top:10px;    
}

.icon-list a {
    margin: 5px;
}

/*socialicious icons*/
.icon-lg{
    font-size: 25px;
}

/* fix the colors of the icons
    so that they don't get changed to blue when they're iside an <a> tag*/
.icon-github-sign {
    color:black;
}
.icon-twitter-sign {
    color:#33ccff;    
}
.icon-linkedin-sign {
    color: #4875b4;
}

.head-shot {
    margin-right:15px;
    float:left;
}