@import "../revealjs/css/theme/white";

$blue: #2298ef;

html.chapter-title {
	.reveal .slide-background {
		background-color: $blue;
	}

	section {
		color: white;
		font-weight: 700 !important;
		text-align: center;
	}
}

.reveal {

	.title-page {

        h1 {
          font-size: 1.6em;
          font-weight: 800;
          color: $blue;
        }

		text-align: left;
		padding-left: 20px;
		.author {
			font-size: .8em;
		}
	}

	.links {
		justify-content: space-between;
		position: fixed;
		bottom: 4em;
		left: 0;
		right: 0;
		display: flex;

		a {
			color: $blue;
			font-size: .8em;
		}

		img {
			border: none;
			box-shadow: none;
			margin: 0 .4em;
			background: none;
			width: 1.5em;
			height: 1.5em;
		}

	}

	.list-header {
		position: fixed;
		left: 0;
		right: 0;
		top: 2.5em;
	}


	.caption {
		position: fixed;
		bottom: 0;
		right: 0;
		color: #ccc !important;
		font-size: 0.35em !important;
	}

	.aside {
		font-size: .8em;
		font-style: italic;
	}

	pre {
		box-shadow: none;
		white-space: pre-wrap;
		width: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	pre code {
		max-height: 100%;
		padding: 0 15px;
	}

	section div {
		line-height: 1.7em;
	}


}

.background-img body {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: #222;
	color: #ddd;
}

div.arrow-shape-container {
	$arrowHeight: 1.5em;
	$arrowBarWidth: 4.2em;
	$arrowTriangleLipHeight: .25em;

	$arrowHeightLarge: 4em;
	$arrowBarWidthLarge: 7em;
	$arrowTriangleLipHeightLarge: .25em;

	$arrowTriangleHeight: ($arrowHeight / 2) + ($arrowTriangleLipHeight * 2);
	$arrowTriangleHeightLarge: ($arrowHeightLarge / 2) + ($arrowTriangleLipHeightLarge * 2);
	$arrowColor: $blue;


	div.arrow-shape {
		width: $arrowBarWidth;
		height: $arrowHeight;
		background-color: $arrowColor;
		margin: 0 $arrowTriangleHeight;
		display: flex;
        flex-direction: column;
		justify-content: space-around;
		align-self: center;

		div {
          	line-height: 1em;
			font-size: .8em;
		  	color: #fff;
        }
	}


	div.arrow-shape::before {
		content: "";
		position: absolute;
		left: -$arrowTriangleHeight;
		border: $arrowTriangleHeight solid transparent;
		border-right-color: $arrowColor;
	}

	div.arrow-shape::after {
		content: "";
		position: absolute;
		left: $arrowTriangleHeight + $arrowBarWidth;
		border: $arrowTriangleHeight solid transparent;
		border-left-color: $arrowColor;
	}


	&.large {

		div.arrow-shape {
			width: $arrowBarWidthLarge;
			height: $arrowHeightLarge;
			margin: 0 $arrowTriangleHeightLarge;

			div {
				font-size: .8em;
			}

		}


		div.arrow-shape::before {

			left: -$arrowTriangleHeightLarge;
			border-width: $arrowTriangleHeightLarge;
		}

		div.arrow-shape::after {

			left: $arrowTriangleHeightLarge + $arrowBarWidthLarge;
			border-width: $arrowTriangleHeightLarge;

		}

	}

}

.template {
	display: none;
}


.fragment.fade-past:not(.current-fragment) {
	color: #bbb;
}

.blue {
	color: $blue;
}
