@import "../revealjs/css/theme/white";

$blue: #2298ef;

html.chapter-title {
	.reveal .slide-background {
		background-color: $blue;
	}

	section {
		color: white;
		//padding: 0.25em;
		font-weight: 700 !important;
        //height: 2em;
		//font-size: 2em;
		text-align: center;
		//line-height: 1.8;
	}
}

.reveal {

	.title-page {

        h1 {
          font-size: 1.6em;
          font-weight: 800;
          color: $blue;
        }

		text-align: left;
		padding-left: 20px;
		.author {
			font-size: .8em;
		}
	}

	.links {
		justify-content: space-between;
		position: fixed;
		bottom: 4em;
		left: 0;
		right: 0;
		display: flex;

		i.icon {
			vertical-align: middle;
		}

		a {
			color: $blue;
			font-size: .8em;
		}
	}

	.list-header {
		position: fixed;
		left: 0;
		right: 0;
		top: 2.5em;
	}


	.caption {
		position: fixed;
		bottom: 0;
		right: 0;
		color: #ccc !important;
		font-size: 0.35em !important;
	}

	.aside {
		font-size: .8em;
		font-style: italic;
	}

	pre {
		box-shadow: none;
		white-space: pre-wrap;
		width: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	pre code {
		max-height: 100%;
		padding: 0 15px;
	}

	section div {
		line-height: 1.7em;
	}


}


.background-img body {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: #222;
	color: #ddd;
}

