
<style>
                        
            div.job-entry  span.title { 
                font-weight:bold;
            }
            div.job-entry span.employer{
                
            }
            div.job-entry span.time-frame{
                font-style:italic;  
            }
            div.job-entry > div.details {               
                margin-bottom: 35px;
            }
            .row {
                display: flex;
                flex-direction: row;
            }
            .grow {
                flex: 1;
            }
            .right {
                align-self: flex-end;
            }
            @media (max-width: 1000px) {
                .row {
                    display: block;
                }
            }               
</style>

<div class="job-entry">
    <div class="row">
        <div class="grow">
            <span class="title">Software Developer</span> -
            <span class="employer"><a href="http://www.wix.com">Wix.com</a></span>
        </div>
        <div>
            <span class="time-frame right">October 2015 – Present</span>
        </div>
    </div>
    <div class = "details">
        <p>
            Currently focused on mobile development with React Native.
        </p>
    </div>

<div class="job-entry">
    <div class="row">
        <div class="grow">
            <span class="title">Software Developer (Lead)</span> - 
            <span class="employer"><a href="http://www.americancapital.com">American Capital</a></span>
        </div>
        <div>                          
            <span class="time-frame right">October 2013 – September 2015</span>
        </div>      
    </div>
    

    <div class = "details">
        <p>
            Led development efforts on an internal web application for managing mission-critical 
            data connected with the company's portfolio holdings' finances. 
            This new application replaced two legacy applications, 
            bringing new data collection capabilities and a modern solution to a core business concern.
            We used AngularJS to build the front-end, and ASP.NET MVC to build the server-side
            API. This combination allowed us to provide a modern UX and a full-featured app 
            in a shorter development time-frame.
        </p>
        <p>
            Other projects included leading development on a time tracking application to facilitate 
            billing and ongoing maintenance of various internal applications.
        </p>
        Technologies:
        <ul>      
            <li>AngularJS</li>
            <li>SQL Server (2008, 2012)</li>
            <li>.NET (C#, ASP.NET MVC 5 & Web API, WebForms)</li>
            <li>JavaScript (jQuery), HTML, CSS (Bootstrap), nodejs, npm </li>
            <li>TFS 2013, git</li>
        </ul>
    </div>
</div>      

<div class="job-entry">     
    <div class="row">
        <div class="grow">
            <span class="title">Software Developer/Analyst</span> - 
            <span class="employer"><a href="http://www.geico.com">GEICO</a></span>
        </div>
        <div>
            <span class="time-frame right">July 2012 – October 2013</span>
        </div>      
    </div>
    <div class = "details">
        <p>
        Member of a team responsible for the development and maintenance of an internal business 
        intelligence/analytics application built with SAS and .NET. Received two promotions in fifteen months.
        </p>
        <p>
        Responsibilities included both the design and development of new functionality in 
        addition to maintaining and fixing bugs in legacy code. Tools/Technologies:
        </p>
        <ul>
            <li>SAS</li>
            <li>SQL (DB2, SQL Server)</li>
            <li>Javascript (jQuery/jQuery UI), HTML, CSS</li>
            <li>SSRS</li>
            <li>.NET (C#, ASP.NET MVC, WinForms)</li>
            <li>Unix, SVN (Helped team transition from TFS to SVN for source control)</li>
        </ul>
                    <p>
        Participated in complete SDLC, and collaborated with team members on:
        </p>
        <ul>
            <li>Fixing bugs</li>
            <li>Designing and developing new features</li>
            <li>Writing technical and user test plans and test scripts</li>
            <li>Technical testing</li>
            <li>Documenting new features (user and technical)</li>
            <li>Deployment</li>
        </ul>
        <p>
            Delivered a talk at the company's annual SAS User Group conference entitled: <i>Deduping Methods: SAS & SQL (plus other SQL windowing tricks)</i>
        </p>
    </div>
</div>  


<div class="job-entry">
    <div class="row">
        <div class="grow">
            <span class="title">Technical Support</span> - 
            <span class="employer"><a href="http://www.dynamicdataconcepts.com">Dynamic Data Concepts</a></span>
        </div>
        <div>
            <span class="time-frame right">May 2011 - June 2012</span>     
        </div>      
    </div>      
    <div class = "details">         
        <ul>
            <li>Responsible for software testing as part of the software release cycle</li>
            <li>Troubleshooted client issues</li>
            <li>Resolved technical issues and helped users get the software working for them</li>
            <li>Trained users in company's software</li>
            <li>Administered JIRA as company's bug tracker and support Helpdesk</li>
            <li>Used Microsoft Visual Studio Lightswitch to develop a customer information database to interact with JIRA</li>
        </ul>
    </div>
</div>  
