<div class="home">
<section>         
    <div class="intro">
        <img src="https://avatars3.githubusercontent.com/u/6300588?v=4&s=450" class="head-shot" alt="My Head :)"/>
        <div class="hello">
            Hello there. I'm Aaron Greenwald and I once looked like the guy in that picture.
            Welcome to my small corner of the web.
        </div>
    </div>
</section>

<section>
    <div class="icon-list-container">
        <div class="icon-list">
            <a title="My github profile" href="https://github.com/aarongreenwald"><span class="icon-github-sign icon-lg" /></a>
            <a title="My twitter profile" href="https://twitter.com/aaronjgreenwald"><span class="icon-twitter-sign icon-lg" /></a>
            <a title="My linkedin profile" href="https://linkedin.com/in/greenwaldaaron"><span class="icon-linkedin-sign icon-lg" /></a>
            <a title="My programmers (stackexchange) profile" href="https://programmers.stackexchange.com/users/124272/">
                <img src="//cdn.sstatic.net/Sites/stackoverflow/company/img/logos/se/se-icon.png?v=93426798a1d4" style="height:32px;transform: translateY(3px);"/>
            </a>
        </div>
    </div>
</section>
<section>
    <ul class="tldr">    
        <li><a href="/about">About</a></li>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/cv">CV</a></li>
    </ul>
</section>

 
</div>
<style>

    .hide {
        overflow-y: hidden;
        max-height: 0;

    }

    .show {
        overflow-y: hidden;
        max-height: 999px;
        transition: max-height ease-in .5s ;
    }

    .home {
        /*align-items: center;*/
        display: flex;
        flex-direction: column;
    }

    ul.tldr {
        display: flex;
        justify-content: center;
        padding-inline-start: unset;
    }
    ul.tldr > li {
        display: inline;
        margin: 0 10px;
        
        /* font-size: 1.5em;
        line-height: 1.5em; */
    }

    .icon-list-container {
        padding:10px 20px;
        font-size: 1.2em;
    }

    .icon-list {
        text-align:center;
        margin-top:10px;    
    }

    .icon-list a {
        margin: 5px;
    }

    /*socialicious icons*/
    .icon-lg{
        font-size: 25px;
    }

    /* fix the colors of the icons
        so that they don't get changed to blue when they're iside an <a> tag*/
    .icon-github-sign {
        color:black;
    }
    .icon-twitter-sign {
        color:#33ccff;    
    }
    .icon-linkedin-sign {
        color: #4875b4;
    }

    .intro {
        display: flex;
    }

    .head-shot {
        margin-right:15px;
        object-fit: cover;
        border-radius: 50%;
        float:left;
        height: 100px;
        /*zoom: .2;*/
    }

    .hello {
        align-self: center;
        max-width: 400px;
    }

</style>
        
