<div>
<div>
<section>         
    <div style="display:inline-block">
        <img src="static/me.jpg" class="head-shot"/>
        <div>Hello there. I'm Aaron Greenwald and I once looked like the guy in that picture. Welcome to my small corner of the web. </div>
    </div>
</section>
<section>
    <h3>tldr;</h3>
    <ul class="tldr">
        <li>I <a href="/projects">code</a> (all the time)</li>
        <li>I <a href="/cv">work</a> (a fair amount)</li>
        <li>I <a href="/talks">talk</a> (now and then)</li>
        <li>I <a href="https://twitter.com/aaronjgreenwald">tweet</a> (infrequently)</li>
        <li>I <a href="/blog">blog</a> (even less frequently)</li>
    </ul>
</section>
<section id="details">
    <h3>The Details</h3>
    <p>
        I am currently focused primarily on mobile development using React Native.

        In the past, I've worked on projects that included full-stack web development (mostly .NET and SQL Server on the backend),
        front-end web development (AngularJS)
        or desktop applications (WinForms). I've also dabbled in nodejs and mongodb a bit, and I'm interested in spending more time
        with those technologies in the future.         

    </p>    
    <p>
        I recently moved myself to Tel Aviv, Israel from Washington, DC. 
        Prior to living in DC, I did time in NYC and Baltimore. I have native-level fluency in English and a rapidly improving Hebrew, 
        as well as a desire to improve my skills in a few other languages. 
        I hold a B.Sc. in Mathematics from Touro College in NY.  
    </p>    
    <p>  
        My (mostly) complete professional bio can be found on my <a href="/cv">CV</a> or on <a href="https://linkedin.com/in/greenwaldaaron">LinkedIn</a>,
        and samples of my work can be found on <a href="https://github.com/aarongreenwald">GitHub</a>.
    </p>
</section>
<section id="contact">
    <h3>Contact Me</h3>
    Because I recieve a lot of spam through LinkedIn, I don't usually monitor my inbox there. The best way to reach me is directly via <a class="email-address"> email</a>. (If you send spam to my email inbox, I will probably ignore you as well. Please don't.)
    If you're reading this on a mobile device, you can also download 
    my <a href="/static/aaron-greenwald.vcf">contact card</a>.
</section>
<div style="margin-top:30px;"> 
    <a style="font-size:1.2em" id='read-more'>About Me: The Long Version</a>
</div>

    <div class="icon-list-container">
        <div class="icon-list">
            <a title="My github profile" href="https://github.com/aarongreenwald"><span class="icon-github-sign icon-lg" /></a>
            <a title="My twitter profile" href="https://twitter.com/aaronjgreenwald"><span class="icon-twitter-sign icon-lg" /></a>
            <a title="My linkedin profile" href="https://linkedin.com/in/greenwaldaaron"><span class="icon-linkedin-sign icon-lg" /></a>
            <a title="My programmers (stackexchange) profile" href="http://programmers.stackexchange.com/users/124272/"><img src="http://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/se/se-icon.png?v=93426798a1d4" style="height:35px;margin-top:-20px;"/></a>
        </div>
    </div>
</div>
</div>
<script>
    //make the home page fancier progressively
    //find all sections except tldr and display none
    //add a Read More About Me link on the bottom of the page or the end of text, whichever is later
    //when that is clicked: hide the link
    //     turn display to normal for all sections, and shrink the top section's height to zero
    //     this will give a sliding down effect. Even better would be to scroll down to the details 
    //     section so that they can still get back up
    //TODO: Is the bootstrap cdn a bottleneck? Do I need it? I can probably bake it all into styles.css
    //TODO: how slow is the image, and what do I need to do for accessibility and such?
    //TODO: perhaps put the icons on every page as the footer
    
    //Finds y value of given object
    function findPos(obj) {
        var curtop = 0;
        if (obj.offsetParent) {
            do {
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
        return [curtop];
        }
    }
    
    document.getElementById('details').style.display = 'none'
    document.getElementById('contact').style.display = 'none'
    document.getElementById('read-more').addEventListener('click', function(){
        document.getElementById('details').style.display = 'block'
        document.getElementById('contact').style.display = 'block'
        window.scroll(0,findPos(document.getElementById("details")));
        document.getElementById('read-more').style.display = 'none'
    })
</script>
        
