<div class="home">
<section>         
    <div class="intro">
        <img src="https://avatars3.githubusercontent.com/u/6300588?v=4&s=450" class="head-shot" alt="My Head :)"/>
        <div class="hello">
            Hello there. I'm Aaron Greenwald and I once looked like the guy in that picture.
            Welcome to my small corner of the web.
        </div>
    </div>
</section>
<section>
    <h3>tldr;</h3>
    <ul class="tldr">
        <li>I <a href="/work">code</a> (all the time)</li>
        <li>I <a href="/cv">work</a> (a fair amount)</li>
        <li>I <a href="/talks">talk</a> (now and then)</li>
        <li>I <a href="https://twitter.com/aaronjgreenwald">tweet</a> (infrequently)</li>
        <li>I <a href="/blog">blog</a> (even less frequently)</li>
    </ul>
</section>
<section id="details">
    <h3>The Details</h3>
    <p>
        Over the years, I've done a broad range of application development using a variety of tech. Lately 
        I've developed a strong preference for "fullstack" work because I enjoy building products end-to-end. 
        Things I've worked on professionally:
        <ul>
            <li>Web apps with React and Angular</li>
            <li>Mobile apps with React Native</li>
            <li>Scala server development</li>
            <li>.NET and SQL Server backends</li>
            <li>Nodejs</li>
        </ul>
        I've also lightly used Kotlin in hobby projects, and once upon a time WinForms was my tool of choice.
    </p>    
    <p>
        A few years ago I moved to Tel Aviv, Israel from Washington, DC. 
        Prior to living in DC, I did time in NYC and Baltimore. I have native-level fluency in English and a working proficiency in Hebrew, 
        as well as a desire to improve my skills in a few other languages. 
        I hold a B.Sc. in Mathematics from Touro College in NY.  
    </p>    
    <p>  
        My (mostly) complete professional bio can be found on my <a href="/cv">CV</a> or on <a href="https://linkedin.com/in/greenwaldaaron">LinkedIn</a>,
        and samples of my work can be found on <a href="https://github.com/aarongreenwald">GitHub</a>.
    </p>

    <h3>Contact Me</h3>
    Because I recieve a lot of spam through LinkedIn, I don't usually monitor my inbox there. The best way to reach me is directly via <a class="email-address"> email</a>. (If you send spam to my email inbox, I will probably ignore you as well. Please don't.)
    If you're reading this on a mobile device, you can also download 
    my <a href="/static/aaron-greenwald.vcf">contact card</a>.
</section>
<div style="margin-top:30px;"> 
    <a style="font-size:1.2em" id='read-more'>About Me: The Long Version</a>
</div>

    <div class="icon-list-container">
        <div class="icon-list">
            <a title="My github profile" href="https://github.com/aarongreenwald"><span class="icon-github-sign icon-lg" /></a>
            <a title="My twitter profile" href="https://twitter.com/aaronjgreenwald"><span class="icon-twitter-sign icon-lg" /></a>
            <a title="My linkedin profile" href="https://linkedin.com/in/greenwaldaaron"><span class="icon-linkedin-sign icon-lg" /></a>
            <a title="My programmers (stackexchange) profile" href="https://programmers.stackexchange.com/users/124272/">
                <img src="//cdn.sstatic.net/Sites/stackoverflow/company/img/logos/se/se-icon.png?v=93426798a1d4" style="height:32px;transform: translateY(3px);"/>
            </a>
        </div>
    </div>
</div>
<style>

    .hide {
        overflow-y: hidden;
        max-height: 0;

    }

    .show {
        overflow-y: hidden;
        max-height: 999px;
        transition: max-height ease-in .5s ;
    }

    .home {
        /*align-items: center;*/
        display: flex;
        flex-direction: column;
    }

</style>
<script>

    //Finds y value of given object
    function findPos(obj) {
        const curtop = 0;
        if (obj.offsetParent) {
            do {
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
        return [curtop];
        }
    }
    
    document.getElementById('details').className = 'hide';
    document.getElementById('read-more').addEventListener('click', function(){
        document.getElementById('details').className = 'show';
        document.getElementById('read-more').style.display = 'none';
        window.scroll(0,findPos(document.getElementById("details")));

    })
</script>
        
