<div>
    A selection of my work is open source and available for public consumption. This page highlights what I'm currently focused on.

    <br />
    <span style="font-style: italic">Edit: who am I kidding? There's no way I'm going to keep this up to date.
    If you're that interested in stalking me, just go to <a href="http://github.com/aarongreenwald">GitHub</a> and poke around.</span>

    <h3><a href="http://seatstat.com">SeatStat</a></h3>
    <span style="font-style: italic">Update: Like most of the grand ideas I've had in my life, this project is now
        dead. The code still exists, though. If you care enough to read it.</span>
    <br /><br />
    SeatStat helps teachers easily create seating plans for their classrooms.
    It's a hobby project I started very recently, so the code's still a mess
    and the direction and longevity of the project is still up in the air.
    It has a python (Pyramid) backend and an AngularJS frontend. Check out
    the code on <a href="http://github.com/aarongreenwald/seatstat">GitHub</a>
    or the beta app at <a href="http://seatstat.com">www.seatstat.com</a>.

    <h3><a href="https://github.com/aarongreenwald/pim">PIM</a></h3>
    <span style="font-style: italic">Update: Like most of the grand ideas I've had in my life, this project is now
        virtually dead. It's interesting to think that there was a time when this kind of project seemed like a good use of my time.</span>
    <br /><br />

    PIM (Personal Information Manager) is a hobby project I occassionally put some work into.
    It's been a long time with little progress because I keep shifting focus to other things,
    but at some point I'm hoping to get it to the point where it's usable.
    The basic idea behind PIM is to have a place to store all kinds of personal data
    I like to track, from finances and budgeting to a diary to notes.

    PIM was the first project I started using python on the backend, and I'm using it to
    learn a new stack I can use on a non-Windows environment.
    You can view the code on <a href="http://github.com/aarongreenwald/pim">GitHub</a>.
</div>

