<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="img/ico" href="/static/favicon.ico">
        <title>RTL Shenanigans</title>
    </head>
    <body style="max-width: 400px;">



        <!--<div dir="rtl">Hello there</div>-->
        <div>&#x202B;&#x05F4;שלום ליטא&#x05F4;&#x202C;</div>

        <!--<div dir="rtl"><q lang="he">שלום ליטא</q></div>-->
        <!--<div><q lang="he" dir="rtl">שלום ליטא</q></div>-->
        <!--<div><q lang="he" dir="ltr">שלום ליטא</q></div>-->

        <!--<div><q lang="en" dir="rtl">An English language & RTL quote, this is</q>, said Yoda.</div>-->
        <!--<div><q lang="en" dir="ltr">An English language & LTR quote, this is</q>, said Yoda.</div>-->
        <!--<div><q lang="he" dir="ltr">A Hebrew language & LTR quote, this is</q>, said Yoda.</div>-->
        <!--<div><q lang="he" dir="rtl">A Hebrew language & RTL quote, this is</q>, said Yoda.</div>-->

        <!--<div><bdo>Hi there שלום</bdo></div>-->


    <table dir="rtl">
        <tr>
            <td>Oכ</td>
            <td>Two</td>
            <td>Three</td>
        </tr>
    </table>


        <div style="width: 100%;" dir="ltr">
            <div style="float: left;">First</div>
            <div style="float: right">Second</div>
        </div>


        <table></table>

    </body>
</html>
