
<div>
    What can I say? I like talking. Especially about programming. Some of what I've done recently:

    <h3><a href="https://youtu.be/_ZHPeEqMwso">React Native Code Reuse: Architecture that Works</a></h3>

    <p>
    I first gave this talk at the RN TLV meetup in September 2016. It was hosted by Wix on their roof overlooking the Mediterranean,
    so we got to catch a nice breeze from the sea throughout.
    </p>
    <p>
    Professionally recorded for your viewing pleasure. Unfortunately, they edited out the jokes. :-/
    </p>
    <div style="display: table; margin: auto">
        <iframe src="https://www.youtube.com/embed/_ZHPeEqMwso" width="420" height="315"></iframe>
    </div>

    <h3><a href="https://youtu.be/LIeqUPvh8qY">Learn Once, Write Anywhere: Intro to React Native</a></h3>

    This is an introduction to React Native, first presented and recorded at Wix's internal Wix Engineering 2016 conference.

    It's a bit outdated, of course, but I think interesting nonetheless. I've since updated the talk several times and given it
    in Dnipro (Ukraine), Vilnius (Lithuania), and a number of times at different venues in Israel.

    <div style="display: table; margin: auto">
        <iframe src="https://www.youtube.com/embed/LIeqUPvh8qY" width="420" height="315"></iframe>
    </div>


</div>
