
<div>
    <div>
        What can I say? I like talking. Especially about programming.

        Here's an incomplete and only occasionally updated list of where I've been recently.
        Interested in having me talk at your conference? <a href="mailto:aaron@aarongreenwald.com">Drop me a line</a>.
    </div>

    <hr />

    <div class="talk">
        <span class="title">Why RTL Support is So Hard: Detours in Abstraction</span>
        <span class="event"><a href="https://buildstuff2017a.sched.com/">Buildstuff LT</a></span>
        <span class="location">Vilnius, Lithuania</span>
        <span class="date">15-19 November 2017</span>
        <span class="slides"><a href="/slides/2017/buildstuff/rtl">Slides</a></span>
        <!--<div class="img">-->
        <!--<iframe src="https://www.youtube.com/embed/W-EHodQQILc"></iframe>-->
        <!--</div>-->

    </div>

    <div class="talk">
        <span class="title">React Native Code Reuse: Architecture that Works</span>
        <span class="event"><a href="https://mobileera.rocks/">Mobile Era</a></span>
        <span class="location">Oslo, Norway</span>
        <span class="date">5-6 October 2017</span>
        <span class="slides"><a href="/slides/2017/mobileera/rn-code-reuse">Slides</a></span>
        <!--<div class="img">-->
            <!--<iframe src="https://www.youtube.com/embed/W-EHodQQILc"></iframe>-->
        <!--</div>-->

    </div>

    <div class="talk">
    <span class="title">Scaling Mobile Development <span style="font-style:italic; font-size: 0.7em">(with React Native, of course)</span></span>
    <span class="event"><a href="https://react-native.eu/">React Native EU</a></span>
    <span class="location">Wroclaw, Poland</span>
    <span class="date">6-7 September 2017</span>
    <span class="slides"><a href="/slides/2017/rn-eu/scaling-rn">Slides</a></span>
    <div class="img">
        <iframe src="https://www.youtube.com/embed/W-EHodQQILc"></iframe>
    </div>
    <!--<span class="description">-->
        <!--React Native is great for developing large applications across multiple teams, but only if you architect your app well.-->

        <!--Less than two years ago, I could count all of the developers working on our app on one hand.-->
        <!--Now, I don’t even know everyone’s names.-->
        <!--In this talk, I showed how we architected the Wix app in a way that allows us to have multiple teams on multiple-->
        <!--continents working on separate modules but delivering a cohesive product that users feel is just one unified app.-->
    <!--</span>-->

  </div>

    <div class="talk">
        <span class="title">Testing & React Native: Lessons from the Battlefield</span>
        <span class="event"><a href="https://www.meetup.com/Wix-Ukraine-Meetup-Group/events/242615264/">Meetup</a></span>
        <span class="location">Dnipro, Ukraine</span>
        <span class="date">23 August 2017</span>
        <span class="slides"><a href="/slides/2017/dnipro/testing-react-native">Slides</a></span>

    </div>

    <div class="talk">
      <span class="title">Learn Once, Write Anywhere: Intro to React Native</span>
      <span class="event"><a href="http://rigadevdays.lv/">Riga Dev Days</a></span>
      <span class="location">Riga, Latvia</span>
      <span class="date">15 May 2017</span>
      <span class="slides"><a href="/slides/2017/riga-dev-days/react-native-intro">Slides</a></span>

      <div class="img">
        <iframe src="https://www.youtube.com/embed/VOgeVcwpAow"></iframe>
      </div>

      <!--<span class="description">-->
          <!--This talk was an updated version of my original <a href="#intro">Intro to React Native</a> talk.-->

          <!--The coolest thing about getting to go to Riga to talk about React Native-->
          <!--is probably that the conference organizers gave me this-->
          <!--awesome badge to put on my site! (Ok, maybe that's not the <i>coolest</i> thing about Riga Dev Days,-->
          <!--but it's pretty cool.)-->

          <!--<div class="img">-->
              <!--<img src="/static/speaking_rigadevdays_4.jpeg" />-->
          <!--</div>-->

      <!--</span>-->
  </div>


    <div class="talk">

      <span class="title">Testing & React Native: Lessons from the Battlefield</span>
      <span class="event"><a href="https://react.amsterdam/#talks">React Amsterdam</a></span>
      <span class="location">Amsterdam, Netherlands</span>
      <span class="date">21 April 2017</span>
      <span class="slides"><a href="/slides/2017/react-amsterdam/testing-react-native">Slides</a></span>
      <div class="img">
        <iframe src="https://www.youtube.com/embed/cUSUJXAvt6k"></iframe>
      </div>

      <!--<span class="description">-->
          <!--Check out my writeup about my experience at React Amsterdam <a href="blog/react-amsterdam-2017-review">here</a>.-->
      <!--</span>-->
    </div>


    <div class="talk">
        <span class="title">Learn Once, Write Anywhere: Intro to React Native</span>
        <span class="event"><a href="http://vilniusjs.lt/2016/12/13/meetup.html">Vilnius.js</a></span>
        <span class="location">Vilnius, Lithuania</span>
        <span class="date">13 December 2016</span>
        <span class="slides"><a href="https://speakerdeck.com/aarongreenwald/learn-once-write-anywhere-intro-to-react-native-3">Slides</a></span>
    </div>


    <div class="talk">
    <span class="title">React Native Code Reuse: Architecture that Works</span>
    <span class="event"><a href="https://www.meetup.com/React-Native-TLV/events/233911740/">RN Tel Aviv</a></span>
    <span class="location">Tel Aviv, Israel</span>
    <span class="date">13 September 2016</span>
    <span class="slides"><a href="https://speakerdeck.com/aarongreenwald/react-native-code-reuse-architecture-that-works">Slides</a></span>
    <div class="img">
      <iframe src="https://www.youtube.com/embed/_ZHPeEqMwso"></iframe>
    </div>
    <!--<span class="description">-->
        <!--<p>-->
        <!--This was the first time I gave this talk. It was hosted by Wix on their roof overlooking the Mediterranean Sea,-->
        <!--so we got to catch a nice salty breeze throughout.-->
        <!--</p>-->
    <!--</span>-->
    <!--</div>-->

    <div class="talk">
      <a name="intro"></a>
      <span class="title">Learn Once, Write Anywhere: Intro to React Native</span>
      <span class="event"><a href="http://www.wix.com/wixengineering/conference">Wix Engineering Conference</a></span>
      <span class="location">Tel Aviv, Israel</span>
      <span class="date">5 April 2016</span>
      <span class="slides"><a href="https://speakerdeck.com/aarongreenwald/learn-once-write-anywhere-intro-to-react-native">Slides</a></span>


      <div class="img">
        <iframe src="https://www.youtube.com/embed/LIeqUPvh8qY"></iframe>
      </div>
      <!--<span class="description">-->

          <!--This is a very basic, high level introduction to React Native.-->
          <!--I first presented and recorded it at Wix's internal Wix Engineering 2016 conference.-->

          <!--It's a bit outdated, of course, but I think it's interesting nonetheless. I've since updated the talk several times and given it-->
          <!--in Ukraine, Lithuania, Latvia, and a number of times at various other venues in Israel. Despite its introductory nature, or perhaps-->
          <!--because of it, it remains one of the most popular talks I've given.-->
      <!--</span>-->
  </div>

</div>
<style>

    h3 {
        text-align: center;
        padding: 1.2em;
        text-decoration: underline;
    }

    .img {
        display: table;
        margin: auto;
        padding: 1em;
    }

    .img img {
        max-width: 100%;
    }

    .img iframe {
        width: 30em;
        min-height:20em;
        max-width: 100%;
        max-height: 30em;
    }

    .talk {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #eee;
    }

    .talk .title {
        font-size: 1.2em;
        display: block;
        margin-bottom: .3em;
    }

    .talk .date {
        font-size: 1em;
    }

    .location::after, .event::after, .date::after {
        content: "    |    ";
        font-size: 20px;
    }

    @media (max-width: 1000px) {
        .location::after, .date::after {
            content: ""
        }

        .date {
            display: block;
        }
    }
    .talk .event {
        font-size: 1.2em;

    }

    .talk .description {
        overflow: hidden;
        display: block;
        margin-top: 1em;
    }
</style>
