
<div>
    What can I say? I like talking. Especially about programming.

    <h3><a href="https://youtu.be/_ZHPeEqMwso">React Native Code Reuse: Architecture that Works</a></h3>
    I first gave this talk at the RN TLV meetup. It was lots of fun, and professionally recorded for your viewing pleasure.
    Unfortunately, they edited out the jokes.


    <h3><a href="https://youtu.be/LIeqUPvh8qY">Learn Once, Write Anywhere: Intro to React Native</a></h3>
    I first gave this talk at the Wix Engineering 2016 conference.

</div>
